<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="yejh">

    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <link href="asserts/css/blog.css" th:href="@{/asserts/css/blog.css}" rel="stylesheet">
    <link href="asserts/css/css" th:href="@{/asserts/css/css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/heros.css}"/>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>

<!--header-->
<header class="blog-header" th:fragment="header">
    <div class="row flex-nowrap justify-content-between align-items-center m-0">

        <div class="col-4 pt-1">
<!--            <a class="text-muted" href="https://getbootstrap.com/docs/4.4/examples/blog/#">Subscribe</a>-->
        </div>
        <div class="col-4 text-center">
<!--            <a class="blog-header-logo text-dark" href="https://getbootstrap.com/docs/4.4/examples/blog/#">Large</a>-->
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <!--top-nav-->
            <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-white" th:href="@{/}">主页</a>
                    <a class="p-2 text-white" th:href="@{/news}">新冠肺炎时间线TIMELINE</a>
                    <a class="p-2 text-white" th:href="@{/heroes}">抗疫英雄人物</a>
                </nav>
            </div>
<!--            <a class="text-muted" href="https://getbootstrap.com/docs/4.4/examples/blog/#" aria-label="Search">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"-->
<!--                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"-->
<!--                     viewBox="0 0 24 24" focusable="false"><title>Search</title>-->
<!--                    <circle cx="10.5" cy="10.5" r="7.5"></circle>-->
<!--                    <path d="M21 21l-5.2-5.2"></path>-->
<!--                </svg>-->
<!--            </a>-->
<!--            <a class="btn btn-sm btn-outline-secondary" href="https://getbootstrap.com/docs/4.4/examples/blog/#">Sign-->
<!--                up</a>-->
        </div>
    </div>
    <!--top-nav-->
<!--    <div class="nav-scroller py-1 mb-2">-->
<!--        <nav class="nav d-flex justify-content-between">-->
<!--            <a class="p-2 text-white" th:href="@{/}">主页</a>-->
<!--            <a class="p-2 text-white" th:href="@{/news}">新冠肺炎时间线TIMELINE</a>-->
<!--            <a class="p-2 text-white" th:href="@{/heroes}">抗疫英雄人物</a>-->
<!--        </nav>-->
<!--    </div>-->
</header>


<!--侧边nav-->
<aside class="col-md-4 blog-sidebar" th:fragment="sidebar">
    <div class="p-4 mb-3  rounded text-justify">
        <h4 class="font-italic">COVID-19</h4>
        <p class="mb-0">2019冠状病毒病疫情，是由严重急性呼吸系统综合症冠状病毒2型（SARS-CoV-2）所引发的全球大流行疫情。疫情在2019年冬首次暴发于中华人民共和国湖北省武汉市，随后在2020年初迅速扩散至全球多国，逐渐变成一场全球性大瘟疫，是全球自第二次世界大战以来面临的最严峻危机。截至2020年4月18日，全球已有200多个国家和地区累计报告超过210万名确诊病例，导致超过14万名患者死亡。</p>
        </p>
    </div>

    <div class="p-4 mb-3 rounded border-dark border-top">
        <h4 class="font-weight-bold">导航栏</h4>
        <ol class="list-unstyled mb-0 text-info">
            <li><a class="text-light" th:href="@{/}">主页</a></li>
            <li><a class="text-light" th:href="@{/news}">疫情与舆情：新冠肺炎时间线TIMELINE</a></li>
            <li><a class="text-light" th:href="@{/heroes}">最美逆行者：抗疫英雄人物</a></li>
            <li><a class="text-light" href="https://sls4service.console.aliyun.com/next/project/dashboard-demo/dashboard/ncp?isShare=true&readOnly=true&hideTopbar=true&hideSidebar=true">
                阿里云疫情分析平台</a></li>
            <li><a class="text-light" href="https://news.qq.com/zt2020/page/feiyan.htm#/global">
                腾讯新闻：疫情实时追踪</a></li>
            <li><a class="text-light" href="https://ncov.dxy.cn/ncovh5/view/pneumonia">
                丁香园：全球新冠病毒最新实时疫情地图</a></li>
            <li><a class="text-light" href="https://wuhan2020.kaiyuanshe.cn/#">新冠战疫信息平台</a></li>
        </ol>
    </div>

    <!--    <div class="p-4">-->
    <!--        <h4 class="font-italic font-weight-bold">Elsewhere</h4>-->
    <!--        <ol class="list-unstyled">-->
    <!--            <li><a href="https://getbootstrap.com/docs/4.4/examples/blog/#">GitHub</a></li>-->
    <!--            <li><a href="https://getbootstrap.com/docs/4.4/examples/blog/#">Twitter</a></li>-->
    <!--            <li><a href="https://getbootstrap.com/docs/4.4/examples/blog/#">Facebook</a></li>-->
    <!--        </ol>-->
    <!--    </div>-->
</aside><!-- /.blog-sidebar -->

<!--footer-->
<footer class="blog-footer bg-light" th:fragment="footer">
    <p>制作人：<a href="https://www.scut.edu.cn/">华南理工大学 </a> - <a href="#">yejh</a>
    </p>
    <p>
        <a href="#">回到顶部</a>
    </p>
</footer>


</body>
</html>